import React, { useState, useEffect } from 'react';
import {
  createPublicClient,
  createWalletClient,
  http,
  parseAbi,
  getContract,
} from "viem";
import { anvil } from "viem/chains";
import { privateKeyToAccount } from "viem/accounts";
import * as dotenv from "dotenv";

dotenv.config();

const {{contractName}}TestComponent = () => {
  const [publicClient, setPublicClient] = useState(null);
  const [walletClient, setWalletClient] = useState(null);
  const [contract, setContract] = useState(null);
  {{#each stateVariables}}
  const [{{this.name}}, set{{capitalize this.name}}] = useState(null);
  {{/each}}

  useEffect(() => {
    const setup = async () => {
      const account = privateKeyToAccount(process.env.PRIVATE_KEY);
      {{#each stateVariables}}
      const {{this.name}}Account = privateKeyToAccount(process.env.{{uppercase this.name}}_PRIVATE_KEY);
      {{/each}}

      const publicClient = createPublicClient({
        chain: anvil,
        transport: http(process.env.RPC_URL),
      });

      const walletClient = createWalletClient({
        account,
        chain: anvil,
        transport: http(process.env.RPC_URL),
      });

      setPublicClient(publicClient);
      setWalletClient(walletClient);
      {{#each stateVariables}}
      set{{capitalize this.name}}({{this.name}}Account);
      {{/each}}

      const contractABI = parseAbi([
        {{#each contractFunctions}}
        "{{this}}",
        {{/each}}
      ]);

      const contract = getContract({
        address: process.env.CONTRACT_ADDRESS,
        abi: contractABI,
        publicClient,
        walletClient,
      });

      setContract(contract);

      {{#if setupFunction}}
      {{#each setupFunction.steps}}
      {{#if (eq this.type "FunctionCall")}}
      await contract.write.{{this.function}}([{{#each this.arguments}}{{parseArg this}}{{#unless @last}}, {{/unless}}{{/each}}]);
      {{/if}}
      {{/each}}
      {{/if}}
    };

    setup();
  }, []);

  {{#each testFunctions}}
  const {{this.name}} = async () => {
    try {
      {{#each this.steps}}
      {{#if (eq this.type "FunctionCall")}}
      {{#if (eq this.contract "vm")}}
      // VM operation: {{this.function}}({{#each this.arguments}}{{parseArg this}}{{#unless @last}}, {{/unless}}{{/each}})
      {{else}}
      await contract.write.{{this.function}}([{{#each this.arguments}}{{parseArg this}}{{#unless @last}}, {{/unless}}{{/each}}]);
      {{/if}}
      {{else if (eq this.type "Assertion")}}
      {{#if (eq this.assert_type "assertEq")}}
      const {{generateAssertionVar this.arguments.[0]}} = await contract.read.{{parseAssertionFunction this.arguments.[0]}}([{{parseAssertionArgs this.arguments.[0]}}]);
      console.assert({{generateAssertionVar this.arguments.[0]}} === {{parseArg this.arguments.[1]}}, 'assertEq failed: {{parseAssertionFunction this.arguments.[0]}}({{parseAssertionArgs this.arguments.[0]}}) !== {{parseArg this.arguments.[1]}}');
      {{else}}
      console.assert({{parseAssertion this.arguments.[0]}}, '{{this.assert_type}} failed');
      {{/if}}
      {{/if}}
      {{/each}}
      console.log('{{this.name}} passed');
    } catch (error) {
      console.error('{{this.name}} failed:', error);
    }
  };

  {{/each}}

  return (
    <div>
      <h1>{{contractName}} Tests</h1>
      {{#each testFunctions}}
      <button onClick={{{this.name}}}>Run {{this.name}}</button>
      {{/each}}
    </div>
  );
};

export default {{contractName}}TestComponent;